/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}



.sidebar {
  flex: 1;
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
  padding: 8px 0;
  font-size: 16px;
  color: #555;
}

li:hover {
  color: #333;
}

.main {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.chatroom {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.message {
  margin-bottom: 10px;
}

.message p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.message span {
  font-size: 12px;
  color: #999;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

input[type='text'] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #0084ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #87C4FF;
}

.message_user_p {
  margin: 3px;
  background-color: rgb(210, 227, 252);
  border-radius: 8px;
  padding: 8px 10px 10px 15px;
  margin-left: 35px;
}
.message_user_span {
  margin: 1px;
  text-align: right;
  color:#999;
}
.message_bot_p {
  margin: 3px;
  background-color: #D0D4CA;
  border-radius: 8px;
  padding: 8px 10px 10px 15px;
  margin-right: 35px;
}
.message_bot_span {
  margin: 1px;
  text-align: left;
  color:#999;
}

@media only screen and (max-width: 600px) {
  .app {
    display: flex;
    width: 400px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .forMb{
    display: contents;
  }
  .forPc{
    display: none;
  }
}
/* For larger devices like tablets or desktops */
@media only screen and (min-width: 601px) {
  .app {
    display: flex;
    width: 800px;
    height: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  .forMb{
    display: none;
  }
  .forPc{
    display: contents;
  }
}